@font-face {
  font-family: "OpenSans";
  src: locar("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: locar("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: locar("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;

  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 984px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*header*/
.header {
  padding: 20px 0 16px 0;
  box-shadow:
    0px 3.39px 5.64px 0px rgba(176, 190, 197, 0.32),
    0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);

  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: 53px;
}

.header__search-form {
  width: 59%;
}

.header__search-input {
  width: 100%;
  height: 43px;
  padding: 0 0 5px 15px;
  border: 1px solid #B0B0B0;
}

.header__search-input::placeholder {
  font-size: 14px;
  color: #B0B0B0;
}

/*clients / table*/
.clients {
  padding-top: 44px;
}

.clients__table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.clients__table-caption {
  margin-bottom: 20px;
  text-align: left;

  font-weight: 700;
  font-size: 24px;
  color: #333;
}

.clients__table-head {
  padding: 9px 0 9px 20px;
  text-align: left;

  font-size: 12px;
  color: #B0B0B0;
}

.clients__table-head-btn-name {
  width: 169px;
}

.clients__table-head-btn {
  width: 100%;
  align-items: center;
  padding: 0;
  border: none;

  font-size: 12px;
  color: #B0B0B0;

  background-color: inherit;

  cursor: pointer;

  transition: opacity .3s ease;
}

.clients__arrow-icon {
  opacity: 0.7;
}

.clients__table-head-btn-name-sort {
  font-weight: 600;
  font-size: 10px;
  color: #9873FF;

  opacity: 0.7;
}

.clients__table-head-btn:hover,
.clients__table-head-btn:focus {
  outline: none;
}

.clients__table-head-btn:hover .clients__arrow-icon,
.clients__table-head-btn:hover .clients__table-head-btn-name-sort,
.clients__table-head-btn:focus .clients__arrow-icon,
.clients__table-head-btn:focus .clients__table-head-btn-name-sort {
  opacity: 1;
}

.clients__arrow-icon--rotated {
  transform: rotate(180deg);
}

.clients__add-btn {
  margin: 0 auto;
  margin-top: 40px;
  padding: 14px 26px;
  border: 1px solid #9873FF;

  font-weight: 600;
  font-size: 14px;
  color: #9873FF;

  visibility: hidden;

  cursor: pointer;

  transition: color .3s ease, background-color .3s ease;
}

.clients__add-btn-wrapper {
  align-items: center;
}

.clients__add-btn-icon {
  margin-right: 10px;
}

.clients__add-btn:hover,
.clients__add-btn:focus {
  color: #fff;

  background-color: #B89EFF;

  outline: none;
}

.clients__add-btn:active {
  color: #fff;

  background-color: #8052FF;
}

.clients__add-btn.visible {
  visibility: visible;
}

.clients__table-row {
  border-bottom: 1px solid #C8C5D1;

  background-color: #FFFFFF;
}

.clients__table-data {
  height: 60px;
  padding-left: 20px;

  font-size: 14px;
  color: #333;
}

.clients__table-data--id {
  font-size: 12px;
  color: #B0B0B0;
}

.clients__table-date {
  margin-right: 7px;
}

.clients__table-time {
  color: #B0B0B0;
}

.clients__table-contacts {
  max-width: 115px;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.clients__table-contact {
  width: 16px;
  height: 16px;

  transition: opacity .3s ease, visibility .3s ease;

  cursor: pointer;
}

.clients__table-contact:focus {
  outline: none;
}

.clients__table-contact[data-tooltip] {
  position: relative;
}

.clients__table-contact[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 148%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 14px;

  font-weight: 700;
  font-size: 12px;
  color: #fff;

  background-color: #333;

  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}

.clients__table-contact::before {
  content: "";
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1000;

  opacity: 0;

  transition: opacity .3s ease;
}

.clients__table-contact[data-tooltip]:hover::after,
.clients__table-contact:hover::before,
.clients__table-contact[data-tooltip]:focus::after,
.clients__table-contact:focus::before {
  opacity: 1;
  visibility: visible;
}

.clients__table-contact:hover svg g,
.clients__table-contact:hover svg path,
.clients__table-contact:focus svg g,
.clients__table-contact:focus svg path {
  opacity: 1;
}

.clients__table-data--actions {
  padding-right: 20px;
}

.clients__actions-btn-wrapper {
  justify-content: space-between;
}

.clients__table-btn-wrapper {
  align-items: center;

  cursor: pointer;
}

.clients__table-btn-wrapper svg {
  width: 16px;
  height: 16px;
}

.clients__table-btn {
  padding: 0;
  border: none;

  font-size: 14px;
  color: #333;

  background-color: inherit;

  transition: color, .3s ease;

  cursor: pointer;
}

.clients__table-update-btn:hover,
.clients__table-update-btn:focus {
  color: #9873FF;

  outline: none;
}

.clients__table-delete-btn:hover,
.clients__table-delete-btn:focus {
  color: #F06A4D;

  outline: none;
}

/*clients/modal*/
.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  background-color: rgba(51, 51, 51, 0.5);

  opacity: 0;
}

.modal.visible {
  display: flex;

  opacity: 1;
}

@keyframes modal-fade-slide-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal__main-container {
  animation: modal-fade-slide-in .5s ease-out forwards;
  position: relative;
  max-width: 450px;
  width: 100%;
  max-height: 90%;
  padding: 30px 0 30px 0;

  background-color: #fff;
}

.modal__container {
  padding: 0 30px 0 30px;
}

.modal__wrapper {
  margin-bottom: 32px;
  align-items: flex-start;
  justify-content: space-between;
}

.modal__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  color: #333;
}

.modal__title span {
  margin-left: 9px;
}

.modal__btn-close {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background-color: inherit;

  cursor: pointer;
}

.modal__btn-close span,
.modal__btn-close::before {
  position: absolute;

  top: 10px;
  right: 0;
  width: 100%;
  height: 2px;

  background: #C8C5D1;
  transform: rotate(-45deg);
}

.modal__btn-close::before {
  content: '';

  transform: rotate(45deg);
}

.modal__input-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.modal__input {
  width: 100%;
  height: 25px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid #C8C5D1;

  font-weight: 600;
  font-size: 14px;
  color: #333;

  cursor: text;
}

.modal__input:not(:last-child) {
  margin-bottom: 32px;
}

.modal__input-label {
  position: absolute;
  top: 10%;
  left: 0;

  transform: translateY(-50%);

  font-weight: 600;
  font-size: 14px;
  color: #B0B0B0;
}

.modal__input-label .modal__input-required {
  font-weight: inherit;
  color: #9873FF;
}

.modal__input:focus+.modal__input-label,
.modal__input:not(:placeholder-shown)+.modal__input-label {
  top: -10px;
  left: 0;

  font-weight: 400;
  font-size: 10px;
}

.modal__input:focus {
  outline: none;
}

.modal__btn-wrapper {
  flex-direction: column;
  align-items: center;
}

.modal__btn-submit {
  margin-bottom: 5px;
  padding: 12px 35px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  color: #fff;

  background-color: #9873FF;

  cursor: pointer;

  transition: background-color .3s ease;
}

.modal__btn-submit:hover,
.modal__btn-submit:focus {
  background-color: #B89EFF;

  outline: none;
}

.modal__btn-submit:active {
  background-color: #8052FF;
}

.modal__btn-action {
  width: fit-content;
  padding: 0;
  border: none;
  border-bottom: 1px solid #333;

  font-size: 12px;
  color: #333;

  background-color: inherit;
  cursor: pointer;
}

.modal__error-message {
  margin-bottom: 9px;
  text-align: center;

  font-size: 10px;
  color: #F06A4D;
}

.modal__wrapper-delete {
  margin-bottom: 11px;
}

.modal__title-delete {
  margin: 0 auto;
}

.modal__warpper-delete-confirm {
  margin-bottom: 16px;
  justify-content: center;
}

.modal__delete-confirm {
  margin: 0;
  max-width: 275px;

  font-size: 14px;
  color: #333;
  text-align: center;
}

/*clients/modal/contacts*/
.modal__contacts-wrapper {
  max-height: 200px;
  margin-bottom: 16px;
  padding: 8px 0;

  background-color: #f4f3f6;

  overflow-y: auto;
  overflow-x: hidden;
}

.modal__add-contact-btn {
  align-items: center;
  margin: 0 auto;
  padding-left: 18px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #333;

  background-color: inherit;
  background-image: url(../img/add-contact.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  transition: color .3s ease, background-image .3s ease;

  cursor: pointer;
}

.modal__add-contact-btn:hover,
.modal__add-contact-btn:focus {
  color: #9873FF;

  background-image: url(../img/add-contact-hover.svg);

  outline: none;
}

.modal__contact-wrapper {
  align-items: center;
  margin-bottom: 15px;
  padding: 0 30px 0 30px;
}

.modal__custom-select {
  position: relative;
  width: 123px;
  height: 37px;
  padding: 10px;
  border: 1px solid #C8C5D1;

  font-size: 12px;
  color: #333;

  background-color: #e7e5eb;

  cursor: pointer;
}

.modal__custom-select::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 35%;
  left: 85%;
  width: 5px;
  height: 5px;
  border: solid #9873FF;
  border-width: 0 2px 2px 0;
  border-radius: 0%;

  cursor: pointer;

  transform: rotate(43deg);
  transform-origin: center;
  transition: transform 0.3s;
}

.modal__custom-select.open::after {
  top: 45%;

  transform: rotate(225deg);
}

.modal__custom-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 101%;
  border: 1px solid #C8C5D1;
  z-index: 1000;

  background-color: #f4f3f6;
}

.modal__custom-select-options.show {
  display: block;
}

.modal__custom-select-option {
  height: 28px;
  padding: 10px 12px;
  align-items: center;

  line-height: 100%;
}

.modal__custom-select-option:hover,
.modal__custom-select-option:focus {
  background-color: #e7e5eb;

  outline: none;
}

.modal__contacts-input {
  flex-grow: 1;
  height: 39px;
  padding: 8px 0 8px 12px;
  border: 1px solid #C8C5D1;

  font-weight: 600;
  font-size: 14px;
  color: #333;

  background-color: #f4f3f6;

  transition: flex-grow 0.3s ease;

  cursor: text;
}

.modal__contacts-input::placeholder {
  font-size: 14px;
  color: #B0B0B0;
}

.modal__contacts-input:focus {
  outline: none;
}

.modal__contacts-cancel-btn {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 9px 6px;
  border: 1px solid #C8C5D1;

  background-color: #e7e5eb;

  cursor: pointer;

  transition: border .3s ease;
}

.modal__contacts-cancel-btn svg {
  width: 12px;
  height: 12px;
}

.modal__contacts-cancel-btn path {
  transition: fill 0.3s ease;
}

.modal__contacts-cancel-btn:hover,
.modal__contacts-cancel-btn:focus {
  border: 1px solid #F06A4D;

  outline: none;
}

.modal__contacts-cancel-btn:hover path,
.modal__contacts-cancel-btn:focus path {
  fill: #F06A4D;
}

.modal__contacts-cancel-btn[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  max-width: 133px;
  top: -32px;
  left: 10px;
  padding: 7px 13px;
  z-index: 9999;
  transform: translateX(-50%);

  font-weight: 700;
  font-size: 12px;
  color: #fff;

  background-color: #333;

  opacity: 0;
  visibility: hidden;

  transition: opacity .3s ease, visibility .3s ease;
}

.modal__contacts-cancel-btn::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1000;

  opacity: 0;

  transition: opacity .3s ease;
}

.modal__contacts-cancel-btn[data-tooltip]:hover::after,
.modal__contacts-cancel-btn:hover::before,
.modal__contacts-cancel-btn[data-tooltip]:focus::after,
.modal__contacts-cancel-btn:focus::before {
  opacity: 1;
  visibility: visible;
}

/*loading table*/
.loading-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;

  background-color: #fff;
}

.loading-table.hidden {
  display: none;
}

.loading-table svg {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
